#optionsNow{
    display:none;
    grid-template-columns:1fr;
    grid-gap:7px;
    position: fixed;
    background-color: var(--fondoOptions);
    color:var(--letra1);
    z-index: 10;
    top:0;
    left:-300px;
    transition:0.15s cubic-bezier(.785,.135,.15,.86);
    transform-origin:0;
    border-radius: 12px;
}
#optionsNow .option{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    font-size: 16px;
    padding: 10px;
}
#optionsNow .option .icono{
    margin-right: 7px;
}
#optionsNowWrapper{
    display: flex;
    flex-direction: column;
}
@media screen  and (orientation: landscape) and (max-width: 570px) {
    #up{
        padding:0;
    }
}

